<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="container">
      <div id="shopping-list">
        <h1>{{ header ? header : 'No header' }}</h1>
        <div class="card">
          <div class="list-title">
            <div class="flex-wrapper">
              <h2>Shopping List</h2>
              <button v-if="inputState === 'closed'" @click="changeState('open')" class="round">+</button>
              <button v-if="inputState === 'open'" @click="changeState('closed')" class="round gray">-</button>
            </div>
            <div v-if="inputState === 'open'" id="form">
              <input @keyup.enter="addItem" v-model="newItem" placeholder="Add item" type="text" />
              <button :disabled="newItem.length === 0" @click="addItem">Add</button>
            </div>
            <p v-if="items.length === 0">You don't have any items in your shopping list.</p>
          </div>
          <ul class="list">
            <li class="list-item" @click="togglePurchased(item)" :class="{purchased: item.purchased}"
                v-for="item in reversedItems">{{ item.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="index.js"></script>
  </body>

</html>
