html,
body {
  margin: 0;
  padding: 0;
  background: #fafeff;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3d4855;
}

p {
  color: #3d4855;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #27313b;
  margin-top: 0;
}

h2 {
  margin-bottom: 12px;
}

.container {
  padding: 24px 0;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.card {
  border-radius: 4px;
  box-shadow: 1px 1px 40px -10px #31505f30, 0px 1px 2px 0px #31505f30;
  background: white;
  padding: 32px 0;
}

.list-title {
  padding: 0 32px;
}

#form {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 12px;
}

input {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
  font-size: 16px;
}

input:focus,
button:focus {
  outline: none;
  border: 1px solid #6ed6ff;
}

button {
  border: none;
  background: #6ed6ff;
  color: white;
  border-radius: 6px;
  padding: 8px 16px;
  margin: 0;
  margin-left: 14px;
  border: 1px solid #6ed6ff;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: #f7f7f7;
  color: #666;
  cursor: default;
  border: 1px solid #f7f7f7;
}

button.round {
  padding: 0px;
  border-radius: 999px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 1px;
}

button.gray {
  background: #e8e8e8;
  color: #27313b;
  border: 1px solid #e8e8e8;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  padding: 16px 32px;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}

.list-item:hover {
  box-shadow: 1px 1px 17px -4px #00000020;
}

.list-item:first-child {
  border-top: 1px solid #e8e8e8;
}

.purchased {
  text-decoration: line-through;
  opacity: 0.7;
}

.priority {
  color: tomato;
}
